<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="templatev1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <templatev1.Properties.Settings>
            <setting name="Usesrname" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="navColor" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="logoutColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="profileColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="navBarColor" serializeAs="String">
                <value>59, 213, 184</value>
            </setting>
            <setting name="locTbColor" serializeAs="String">
                <value>ControlLight</value>
            </setting>
            <setting name="timeColor" serializeAs="String">
                <value>204, 204, 204</value>
            </setting>
            <setting name="BWmode" serializeAs="String">
                <value>False</value>
            </setting>
        </templatev1.Properties.Settings>
    </userSettings>
</configuration>