<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="templatev1.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <templatev1.Properties.Settings>
            <setting name="Usesrname" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="navColor" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="logoutColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="profileColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="navBarColor" serializeAs="String">
                <value>59, 213, 184</value>
            </setting>
            <setting name="locTbColor" serializeAs="String">
                <value>ControlLight</value>
            </setting>
            <setting name="timeColor" serializeAs="String">
                <value>204, 204, 204</value>
            </setting>
            <setting name="BWmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="btnColor" serializeAs="String">
                <value>White</value>
            </setting>
        </templatev1.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <add key="DevMode" value="True"/>
        <!-- <add key="DevMode" value="False"/> -->
        <add key="GoogleMapsApiKey" value="AIzaSyCvDbMpDYOev7-eygdiIP0e9xG-gPV18H8"/>
        <add key="DataBaseMode" value="Hybrid"/>
        <add key="ConnectionString1"
             value="server=localhost;port=3306;user id=root; password=;database=itp4915m_se1d_group4;charset=utf8;ConnectionTimeout=30"/>
        <add key="ConnectionString2" value="server=localhost;port=3306;user id=root; password=rootpassword;database=itp4915m_se1d_group4;charset=utf8;ConnectionTimeout=30"/>
        <add key="ConnectionString3" value=""/>
        <add key="ConnectionString4" value=""/>
        <add key="ConnectionString5" value=""/>
        <add key="ConnectionString6" value=""/>
        <add key="ConnectionString7" value=""/>
        <add key="ConnectionString8" value=""/>
        <add key="ConnectionString9" value=""/>
        <add key="ConnectionString10" value=""/>
        <add key="ConnectionString11" value=""/>
        <add key="ConnectionString12" value=""/>
        <add key="ConnectionString13" value=""/>
        <add key="ConnectionString14" value=""/>
        <add key="ConnectionString15" value=""/>
        <add key="ConnectionString16" value=""/>
        <add key="ConnectionString17" value=""/>
        <add key="ConnectionString18" value=""/>
        <add key="ConnectionString19" value=""/>
        <add key="ConnectionString20" value=""/>
    </appSettings>
    <connectionStrings>
        <add name="templatev1.Properties.Settings.itp4915m_se1d_group4ConnectionString"
             connectionString="Dsn=localhost;charset=utf8;database=itp4915m_se1d_group4;db=itp4915m_se1d_group4;no_schema=1;password=report;port=3306;pwd=report;server=127.0.0.1;uid=report;user=report"
             providerName="System.Data.Odbc"/>
    </connectionStrings>
</configuration>